CONFIG_X86=y
CONFIG_TEXT_BASE=0x1120000
CONFIG_SYS_MALLOC_LEN=0x2000000
CONFIG_ENV_SOURCE_FILE="coreboot-fast"
CONFIG_NR_DRAM_BANKS=8
CONFIG_ENV_SIZE=0x1000
CONFIG_DEFAULT_DEVICE_TREE="coreboot"
CONFIG_SPL_SYS_MALLOC_F_LEN=0x2000
CONFIG_SPL_TEXT_BASE=0x1110000
CONFIG_SPL_FS_FAT=y
CONFIG_SYS_PCI_64BIT=y
CONFIG_X86_RUN_64BIT=y
CONFIG_VENDOR_COREBOOT=y
CONFIG_TARGET_COREBOOT=y
CONFIG_CC_OPTIMIZE_FOR_SPEED=y
CONFIG_SYS_MONITOR_BASE=0x01120000
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_BOOTSTD_FULL=y
CONFIG_BOOTDELAY=0
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/sdb3 init=/sbin/init rootwait ro"
CONFIG_SYS_PBSIZE=532
CONFIG_LOGLEVEL=3
CONFIG_SILENT_CONSOLE=y
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_SPL_NO_BSS_LIMIT=y
CONFIG_SPL_FS_FAT_DMA_ALIGN=y
CONFIG_SPL_PCI=y
CONFIG_SPL_NVME=y
CONFIG_SPL_NVME_PCI=y
CONFIG_CMD_BOOTMENU=y
CONFIG_CMD_IDE=y
CONFIG_CMD_LSBLK=y
CONFIG_CMD_USB=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_BOOTP_BOOTFILESIZE=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_TIME=y
CONFIG_CMD_SOUND=y
CONFIG_CMD_EXT4_WRITE=y
CONFIG_MAC_PARTITION=y
# CONFIG_SPL_MAC_PARTITION is not set
# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_EFI_PARTITION is not set
CONFIG_ENV_OVERWRITE=y
CONFIG_USE_BOOTFILE=y
CONFIG_BOOTFILE="bzImage"
CONFIG_TFTP_TSIZE=y
CONFIG_USE_ROOTPATH=y
CONFIG_SYSCON=y
# CONFIG_ACPIGEN is not set
# CONFIG_SCSI_AHCI is not set
CONFIG_SYS_IDE_MAXDEVICE=4
CONFIG_SYS_ATA_DATA_OFFSET=0
CONFIG_SYS_ATA_REG_OFFSET=0
CONFIG_SYS_ATA_ALT_OFFSET=0
CONFIG_ATAPI=y
CONFIG_LBA48=y
CONFIG_SYS_64BIT_LBA=y
# CONFIG_MMC is not set
CONFIG_NVME_PCI=y
CONFIG_SPL_PCI_PNP=y
CONFIG_PCI_REGION_MULTI_ENTRY=y
# CONFIG_SCSI is not set
CONFIG_SYS_NS16550_MEM32=y
CONFIG_SOUND=y
CONFIG_SOUND_I8254=y
CONFIG_USB_HUB_DEBOUNCE_TIMEOUT=100
CONFIG_USB_HUB_MIN_POWER_ON_DELAY=20
CONFIG_USB_HUB_SKIP_ROOT_EMPTY_WAIT=y
CONFIG_SYS_USB_EVENT_POLL_VIA_INT_QUEUE=y
CONFIG_VIDEO_DAMAGE=y
CONFIG_CONSOLE_SCROLL_LINES=5
CONFIG_SPL_ACPI=y
# CONFIG_GZIP is not set
CONFIG_SMBIOS_PARSER=y
